QPushButton {
    color: black;
    background-color: white;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    padding: 0px;
}

QPushButton:pressed {
    border-color: red;
    border-width: 2px;
    padding: 0px;
}
