QComboBox::drop-down
{
    width : 35px;
    border: none; /* This seems to replace the whole arrow of the combo box */
}
QComboBox::down-arrow {
    image: url(images/Main_menu/combobox_drop_down_arrow.jpg);
    width: 30px;
    height: 30px;
}
