.QDialog {
   background-color: rgba(255, 255, 255, 128);
}

QPushButton {
    color: white;
    bacground-color: black;
    border-width: 1px;
    border-color: blue;
    border-style: solid;
}

QPushButton:pressed {
    color: red;
}

QLabel {
    color: white;
}

